@font-face {
    font-family: ProtestRiot-Regular;
    src: url('font/ProtestRiot-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    color: black;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 6vw;
}

body .mainBox {
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

/* Header */
.topPage {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e5e7e6;
    margin: 0;
}

.topPage .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topPage .logo img {
    height: 130px;
    width: auto;
}

.topPage .logo h1 {
    color: #93441A;
    font-family: 'ProtestRiot-Regular';
}

.topPage .logo nav {
    width: 300px;
    margin-left: auto;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}

.topPage .logo nav a, i {
    color: #93441A;
}

.topPage .logo nav a {
    text-decoration: none;
    font-family: 'ProtestRiot-Regular';
    font-size: 22px;
}

/* Content */
.contentPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 83%;
    padding: 10px;
    overflow-y: scroll;
}

.contentPage::-webkit-scrollbar {
    display: none;
}

/* Footer */
.bottomPage {
    height: 50px;
    background-color: #e5e7e6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}