@font-face {
    font-family: ProtestRiot-Regular;
    src: url('../font/ProtestRiot-Regular.ttf');
}

/* Cart */
.cartPage {
    margin-left: 50px;
    margin-right: 50px;
}

.cartPage h3 {
    font-family: 'ProtestRiot-Regular';
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    color: #93441A;
}

.cartPage [class^='product'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e5e7e6;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cartPage [class^='product'] img {
    height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
}

.cartPage [class^='product'] p {
    font-family: 'ProtestRiot-Regular';
    font-size: 20px;
    color: #93441A;
    margin-left: 10px;
}

.cartPage [class^='product'] .price {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

/* Cart add and remove quantities */
.cartPage [class^='product'] .price .plus {
    background-color: #DAAB3A;
    border: none;
    padding: 8px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cartPage [class^='product'] .price .minus {
    background-color: #DAAB3A;
    border: none;
    padding: 8px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cartPage [class^='product'] .price .minus, .plus:hover {
    cursor: pointer;
}

.cartPage [class^='product'] .price .minus i, .plus i {
    color: black;
}

.cartPage [class^='product'] .price input {
    height: auto;
    width: 50px;
    text-align: center;
}

/* Total price */
.cartPage [class^='product'] .price .priceTotal {
    font-size: 22px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Delete product */
.cartPage [class^='product'] .price .fa-xmark {
    font-size: 25px;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 10px;
}

.cartPage [class^='product'] .price .fa-xmark:hover {
    cursor: pointer;
}
