@font-face {
    font-family: ProtestRiot-Regular;
    src: url('../font/ProtestRiot-Regular.ttf');
}

.blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 900;
    display: none;
}

.specificProduct {
    position: fixed;
    min-width: 800px;
    background-color: #e5e7e6;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.specificProduct div img {
    height: 600px;
    width: auto;
    border-radius: 8px;
}

.specificProduct div h2 {
    font-size: 30px;
    font-family: 'ProtestRiot-Regular';
    color: #93441A;
    margin: 0;
}